<template name='bonus'>
        <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/>
        <!-- <div id="cabinetScreen" class="newcabinetScreen">
                <div id="divForVideo">
                        <div class="new-cabinet-content-col">
                            <video autoplay controls class="videoLanding" width="100%" height="100%" id="videoCabinet">
                                <source src="./howworks.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    </div> -->
<div id='bodyIt'>
                    <h1 class="title">IT-<br>banda</h1>
                    <div class="mask">
                       <div>
                          <h1>Episode IV</h1>
                          <h2>THE FORCE AWAKENS</h2>
                          <p>Вы большие молодцы и я очень вами горжусь - за этот год вы выросли в чгк          больше, чем многие за годы и годы. Это дорогого стоит  </p>              По крайней мере, вы знаете, к чему стремиться.
                          <p>Я хочу увидеть it-banda на пьедестале, окажите милость.             В любом случае, проект, которому всего год, показывает результаты трех-пяти  </p>           Это мое личное субъективное мнение.
                          <p>Будьте котиками, ходите на тренировки а я пошла       собирать вам следующую... Увидимся</p>
                       </div>
                    </div>
                    </div>
</template>