<template name="clock">

    <!-- <button id="start" type="submit" class="btn btn-success btn-submit">Время</button> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- 
    <div id="timer">
        <svg id="animated" viewbox="0 0 85 85">
            <path id="progress" stroke-width="5" stroke="tomato" fill="none" d="M50 10
           a 30 30 0 0 1 0 60
           a 30 30 0 0 1 0 -60">
            </path>
          
            <circle cx="50" cy="40" r="25" fill="transparent" stroke="black" stroke-width="1" />
            <text id="count" x="50" y="40" fill="black" text-anchor="middle" dy="7" font-size="20">60</text>
        </svg>
    </div>

    <div>
        <div class="radial-progress">
            <div class="circle">
                <div class="fill"></div>
            </div>
        </div>
    </div> -->

    <div id="dCircle">
        <label id="hCount"></label>
    </div>






    <div id="timer2">
        <label id='label2'>60</label>
    </div>
</template>


<!--d="M50 10-->
<!--a 40 40 0 0 1 0 80-->
<!--a 40 40 0 0 1 0 -80"-->